<a href="https://colab.research.google.com/github/PurviDarekar/Python/blob/main/Dictionaries_Working_with_key_and_value_pair.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dictionary  
Allows you to work with key value pair

In [4]:
student = {'name':'Purvi','age':25,'courses':['Math','CompSci']}

print(student)
# to provide the key as a parameter to get the value
print(student['name'])

{'name': 'Purvi', 'age': 25, 'courses': ['Math', 'CompSci']}
Purvi

get method

In [7]:
student = {'name':'Purvi','age':25,'courses':['Math','CompSci']}
# it is useful to not give error if key does not exist
print(student.get('phone')) #phone does not exist

#also set the default value as second argument

print(student.get('phone','Not Found'))

None
Not Found

Add new entry to dictionary

In [10]:
student = {'name':'Purvi','age':25,'courses':['Math','CompSci']}
# add new key value
student['phone'] = '555-555-5555'
print(student)

# if key is already exist then it will alter its value
student['name'] = 'Darekar'

print(student)

{'name': 'Purvi', 'age': 25, 'courses': ['Math', 'CompSci'], 'phone': '555-555-5555'}
{'name': 'Darekar', 'age': 25, 'courses': ['Math', 'CompSci'], 'phone': '555-555-5555'}

update multple values

update method

In [11]:
student = {'name':'Purvi','age':25,'courses':['Math','CompSci']}
# update all values in one go
student.update({'name':'Darekar','age':21,'phone':'666-666-6666'})
print(student)

{'name': 'Darekar', 'age': 21, 'courses': ['Math', 'CompSci'], 'phone': '666-666-6666'}

delete any key

In [12]:
student = {'name':'Purvi','age':25,'courses':['Math','CompSci']}
#it will delete student age from dic
del student['age']
print(student)

{'name': 'Purvi', 'courses': ['Math', 'CompSci']}

pop method - delete key

In [14]:
student = {'name':'Purvi','age':25,'courses':['Math','CompSci']}
# pop removed thr value and store it in value as we can also return the the removed value
age = student.pop('age')
print(student)
# print the popped of val
print(age)

{'name': 'Purvi', 'courses': ['Math', 'CompSci']}
25

looping throgh all vales in dictnary

In [19]:
student = {'name':'Purvi','age':25,'courses':['Math','CompSci']}
#find the lenght of the student
print(len(student))
#find the names of all the key
print(student.keys())
# find all vales 
print(student.values())
# to see all keys and value
print(student.items())

3
dict_keys(['name', 'age', 'courses'])
dict_values(['Purvi', 25, ['Math', 'CompSci']])
dict_items([('name', 'Purvi'), ('age', 25), ('courses', ['Math', 'CompSci'])])

for loop

In [20]:
student = {'name':'Purvi','age':25,'courses':['Math','CompSci']}
for key in student:
  print(key)

name
age
courses

to print both key and value in for loop

In [23]:
student = {'name':'Purvi','age':25,'courses':['Math','CompSci']}
for key,value in student.items(): #add items method
  print(key,value) #and print both

name Purvi
age 25
courses ['Math', 'CompSci']