<a href="https://colab.research.google.com/github/PurviDarekar/Python/blob/main/Lists%2C_sets_and_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

List

In [ ]:
courses = ['History','Maths','Physics','Compi']

print(courses)

['History', 'Maths', 'Physics', 'Compi']

len function

In [ ]:
courses = ['History','Maths','Physics','Compi']

print(len(courses))

4

index - location

In [ ]:
courses = ['History','Maths','Physics','Compi']
# index mention in square brackets (total length - 1 )
print(courses[2])

# Negative indexing - it will print the last index from the list
print(courses[-1])

Physics
Compi

range

In [ ]:
courses = ['History','Maths','Physics','Compi']
# specify range - slicing
print(courses[0:2])

['History', 'Maths']

list methods - modify list

Append method

In [ ]:
courses = ['History','Maths','Physics','Compi']
# it will add new item at the end 
courses.append('Art')

print(courses)

['History', 'Maths', 'Physics', 'Compi', 'Art']

insert method

In [ ]:
courses = ['History','Maths','Physics','Compi']
# to add new item at the specific location - it takes two arguments 1. index and 2. value
courses.insert(0,'Chemistry')

print(courses)

['Chemistry', 'History', 'Maths', 'Physics', 'Compi']

extend method

In [ ]:
courses = ['History','Maths','Physics','Compi']
# it will insert multiple values in the list
courses_2 = ['DSA','AI']

'''# HERE WE ADD THE NEW LIST IN THE PLACE OF SPECIFIED INDEX
courses.insert(0, courses_2)
#it prints the list within list
print(courses)
# it provide the value which is at the first place and here it is list
print(courses[0])'''


#it is not the desired output which we got from insert method so here we use extend to add the values normally in list1
courses.extend(courses_2)

print(courses)


#append is different from extend is also add the list in list

['History', 'Maths', 'Physics', 'Compi', 'DSA', 'AI']

remove method

In [ ]:
courses = ['History','Maths','Physics','Compi']
# it will reomove the specific item from the list
courses.remove('Maths')

print(courses)

['History', 'Physics', 'Compi']

pop method - removal

In [ ]:
courses = ['History','Maths','Physics','Compi']
# by default it will remove the last item

# it also return the value of popped item
popped = courses.pop()

print(courses)
print(popped)

['History', 'Maths', 'Physics']
Compi

Sorting List

reverse method

In [ ]:
courses = ['History','Maths','Physics','Compi']
courses.reverse()
print(courses)

['Compi', 'Physics', 'Maths', 'History']

sort method

In [ ]:
courses = ['History','Maths','Physics','Compi']
nums = [1,6,3,5,4,2]
# it sort the values in alphabatical order
courses.sort()
nums.sort()


print(courses)
print(nums)

['Compi', 'History', 'Maths', 'Physics']
[1, 2, 3, 4, 5, 6]

In [ ]:
courses = ['History','Maths','Physics','Compi']

#if we want descending order
courses.sort(reverse = True)

print(courses)

['Physics', 'Maths', 'History', 'Compi']

sorted function - we want new list without altering existing list

In [ ]:
courses = ['History','Maths','Physics','Compi']
sorted_courses = sorted(courses)
print(sorted_courses)

['Compi', 'History', 'Maths', 'Physics']

min function

In [ ]:
num = [1,2,3,4,5]
print(min(num))

1

max function

In [ ]:
num = [1,2,3,4,5]
print(max(num))

5

sum function

In [ ]:
num = [1,2,3,4,5]
print(sum(num))

15

index method

In [ ]:
courses = ['History','Maths','Physics','Compi']
# find the index of the value
print(courses.index('Compi'))

3

in Operation

In [ ]:
courses = ['History','Maths','Physics','Compi']
# find the value in the list and it will return the boolean value
print('Art' in courses)
print('Maths' in courses)

False
True

looping values

for loop item

In [ ]:
courses = ['History','Maths','Physics','Compi']

for item in courses:
  print(item)

History
Maths
Physics
Compi

enumrate function

In [ ]:
courses = ['History','Maths','Physics','Compi']

# it will provide the the course with the index number
for course in enumerate(courses):
  print(course)

(0, 'History')
(1, 'Maths')
(2, 'Physics')
(3, 'Compi')

In [ ]:
courses = ['History','Maths','Physics','Compi']

# it will provide the the course with the index number and here the start will give tell where to start indexing
for index,course in enumerate(courses, start = 1):
  print(index,course)

1 History
2 Maths
3 Physics
4 Compi

Join method

list to string

In [ ]:
courses = ['History','Maths','Physics','Compi']

course_str = ', '.join(courses)
# it will provide the the course with comma seperation
print(course_str)

History, Maths, Physics, Compi

split funtion

string to list

In [1]:
courses = ['History','Maths','Physics','Compi']

course_str = ' - '.join(courses)
# split all value which contain space dash space and make the new list
new_list = course_str.split(' - ')
# it will provide the the course with comma seperation
print(course_str)
print(new_list)

History - Maths - Physics - Compi
['History', 'Maths', 'Physics', 'Compi']

Tuples

what is the difference between tuples and the list
 - we cant modify tuples (where list are mutable and tuples are immutable)

example - list

In [3]:
list_1 =['History', 'Math', 'Physics','CompSci']
# here we assign same values to the 
list_2 = list_1
#here it prints the same list value
print(list_1)
print(list_2)

# if we make the change in list_1 item then it will also reflect in list@
list_1[0] ='Art' 

print(list_1)
print(list_2)

['History', 'Math', 'Physics', 'CompSci']
['History', 'Math', 'Physics', 'CompSci']
['Art', 'Math', 'Physics', 'CompSci']
['Art', 'Math', 'Physics', 'CompSci']

example - tuple

In [7]:
tuple_1 = ('History', 'Math', 'Physics','CompSci')
tuple_2 = tuple_1

print(tuple_1)
print(tuple_2)

tuple_1[0] = 'Art' # it will give the type error beacuese we can not modify in tuples

print(tuple_1)
print(tuple_2)

('History', 'Math', 'Physics', 'CompSci')
('History', 'Math', 'Physics', 'CompSci')

TypeError: ignored

Sets
- Sets are unordered and also have no duplicates

In [10]:
# set are defined with curly bracktes
cs_course = {'History','Math','Physics','CompSci'}

print(cs_course)
# if we run this code multiple times then the order in output changes  

''' 
sets don't care about order it is the use case of
- remove duplicates
- use to test the value is part of set or not (membership test)
'''

{'CompSci', 'Math', 'Physics', 'History'}

duplicate value removal - sets

In [11]:
cs_course = {'History','Math','Physics','CompSci','Math'}

print(cs_course)

{'CompSci', 'Math', 'Physics', 'History'}

In [12]:
cs_course = {'History','Math','Physics','CompSci','Math'}

print('Math' in cs_course)

True

intersection function

In [13]:
cs_course = {'History','Math','Physics','CompSci','Math'}
art_courses = {'History','Math','Art','Design'}
# to see what courses these two sets have in common

print(cs_course.intersection(art_courses))

{'Math', 'History'}

Difference method

In [14]:
cs_course = {'History','Math','Physics','CompSci','Math'}
art_courses = {'History','Math','Art','Design'}
# to see what courses these two sets have not in common

print(cs_course.difference(art_courses))

{'CompSci', 'Physics'}

Union method

In [15]:
cs_course = {'History','Math','Physics','CompSci','Math'}
art_courses = {'History','Math','Art','Design'}
# to see all courses 

print(cs_course.union(art_courses))

{'Art', 'History', 'Math', 'Design', 'CompSci', 'Physics'}

Create Empty list

In [16]:
empty_list = []
empty_list = list() #alternative

Create Empty Tuples

In [17]:
empty_tuples = ()
empty_tuple = tuple() #alternative

Create Empty sets

In [18]:
empty_set = {} # this is not right to create empty set it will create dict
empty_set = set() #alternative